*{
    box-sizing: border-box;
}
body{
    margin: 0px;
    padding: 0px;
}
main{
    padding: 16px;

}
footer{padding-top: 24px;
padding-bottom: 24px;
padding-left: 0px;
padding-right: 0px;}

img{
    height: 200px;
}
nav{
    border-bottom: black 1px;
    padding: 16px;
}
.header{
    background-color: orangered;
}
.grid{
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: repeat(4, auto);

}
h1{
    margin-bottom: 10px;
    color: #831e1e;

}
tbody > tr:nth-child(odd){
    background: rgba(172, 142, 78, 0.164);
}

footer{
    background-color: bisque;
    position: fixed;
    left: 0px;
    bottom: 0px;
    width: 100%;
    padding-left: 24px;
}

a{
    text-decoration: none;
}
